img {
  width: 150px;
  height: 150px;
border-radius: 50%;
box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.75);
animation-duration: 1s;
animation-name: slidein;
}

.form {
flex-direction: column;

.upload-image {
  justify-content: space-around;
  display: flex;

  .material-icons {
    font-size: 50px;
    color: #888aa9;
  }
}
}

@keyframes slidein {
from {
  width: 50px;
  height: 50px
}

to {
  width: 150px;
  height: 150px
}
}