<form [formGroup]='registerForm' class='container form' (ngSubmit)="onSubmit()">
  <div class='upload-image'>

    <label class="custom-file-upload">
      <mat-icon *ngIf='!imageSrc' aria-label="Example icon-button with a heart icon">add_circle_outlines</mat-icon>
      <input type="file" (change)="readURL($event)" />
      <img *ngIf='imageSrc' [src]="imageSrc || 'http://placehold.it/180'" alt="your image" />
    </label>
  </div>
  <mat-form-field>
    <input matInput placeholder='name' formControlName='firstName'>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder='email' formControlName='email'>
    <mat-error>
      Please enter a valid email address
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input type='password' matInput placeholder='password' formControlName='password'>
  </mat-form-field>

  <mat-form-field>
    <input type='password' matInput placeholder='confirmPassword' required formControlName='confirmPassword'>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">Submit</button>
</form>
