/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


input[type="file"] {
  display: none
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
.container {
  display: flex
}

body {
  max-width: 400px;
  margin: auto;
}
